/*****************************/
/*** Aangepaste stijl voor asha-s.com ***/
/*** bg_grey ***/
/*****************************/
/**
bw 2011 11 13 Nieuw opgebouwd voor Asha-s.com
13/11
*/
$asTextColor: #fff;  // wit

$asBodyBackgroundColor:   #0F0F60;
$asBodyBackgroundImage:	  none;
$asLinkColor:             $asTextColor;
$asLinkColorHover:        $asLinkColor; // darken($linkColor, 15%);

$asModMenuUlBackgroundColor: $asBodyBackgroundColor;

$asModMenuLinkColor:	  #eee;
$asModMenuBackGround:     $asBodyBackgroundColor;
$asModMenuH1Color:		  #eee; 

$asPageHeadH1Width: 	  auto;
