// standaard joomla update icons
// -----------------------------
.icons {
  position:relative;
  width:100%;
  .btn-group {
    position:relative;
    right:1%;
    ul {
      list-style:none;
      display:inline;
      padding-left:4px;
      li {
        height:16px;
        width:16px;
        overflow:hidden;
        display:inline-block;
        a:link, a:visited, a:hover, a {
          width:100%;
          color:transparent;
          padding-left:100%;
        }
      }
    }
  }
}
.pull-right {
  float:right;
}
.print-icon {
  background:url(../images/printButton.png) no-repeat;
}
.email-icon {
  background:url(../images/emailButton.png) no-repeat;
}
.edit-icon {
  background:url(../images/editButton.png) no-repeat;
}
.mod-languages {
  float:right;
}
