// 
// standard css for this template
//css
// --------------------- 20160624
//
body {
  font-family: @asBaseFontFamily;
  line-height: @asBaseLineHeight;
  margin: 0px 0px 0px 0px;
  font-size: @asBaseFontSize;
  color: @asTextColor;
  background: @asBodyBackground;
  background-image: @asBodyBackgroundImage;
  background-color: @asBodyBackgroundColor;
  
}
html {
  height:100%;
  margin-bottom:1px;
}
form {
  margin:0;
  padding:0;
}
#bg_img {
  width:@bgWidth;
  position:absolute;
  left:@bgLeft;
  top:@bgTop;
}
#wrapper {
  margin-left:auto;
  margin-right:auto;
  margin-top:0;
  margin-bottom:0;
  position:relative;
  width:100%;
  padding:0;
  padding-bottom:10%;
}
a {
 color: @asLinkColor;
}
a:link, a:visited {
  text-decoration: @asLinkDecoration;
  font-weight:normal;
}
a:hover {
  color: @asLinkColorHover;
  text-decoration: @asLinkDecoration;
  font-weight:bold;
}
input.button {
  cursor:pointer;
}
p {
  margin-top:0;
  margin-bottom:5px;
}
img {
  border:0 none;
}
#page_bg {
  padding:0;
  margin-bottom:0;
}
div.center {
  text-align:center;
  width:100%;
}
.b_full {
  width:@asFullWidth;
  max-width:100%;
}
.b_half {
  width:@asHalfWidth;
  max-width:50%;
}
div.cols-3 {
  div.column-1 .b_full, div.column-2 .b_full, div.column-3 .b_full {
    width:@as3ColFullWidth;
    max-width:100%;
  }
  div.column-1 .b_half, div.column-2 .b_half, div.column-3 .b_half {
    width:@as3ColHalfWidth;
  }
}
div.cols-2 div.column-1 .b_full, div.cols-2 div.column-2 .b_full, td[width="50%"].article_column  img.b_full {
  width:@as2ColFullWidth;
  max-width:100%;
}
div.cols-2 div.column-1 .b_half, div.cols-2 div.column-2 .b_half, td[width="50%"] img.b_half {
  width:@as2ColHalfWidth;
}
#headerleft {
  float:left;
  margin-top: @hlMarginTop;
  margin-left:@hlMarginLeft;
  padding-top:0;
  width:@asHeadLeftWidth;
  margin-bottom: @hlMarginBottom; 	
  height: @hlHeight;

}
#header_img {
  img,  {
    width:100%;
  }
}
#page_heading {
  float:left;
  margin-top: @phMarginTop;
  margin-left:@asMarginHalf;
  padding-top:0;
  width:@asPageHeadWidth;

  h1 {
    width:@asPageHeadH1Width;
    line-height:@asH1FontSize;
    color: @asTextColor;
    text-align:center;
  }
}
#icons
{   /* icons social media boven logo */
position: absolute;
  top: @iconsPosTop;    
  left: @iconsPosLeft;
  width: @iconsWidth; 
}



#logo {
 /* logo website rechts van het midden transparant, 480x96 bij breedte 1280px */
  position: absolute; 
  left:@asLogoLeft;
  top:@asLogoTop;
  width:@asLogoWidth;
}
#logo img, #logo_img {
  width:@asLogoImgWidth;
}

#footer
{   /* footer onder aan de pagina */
position: fixed;
bottom: @footerPosBottom;    
left: @footerPosLeft;
width: @footerWidth;
}


#search {
}
form#searchForm input {
  vertical-align:middle;
}
form#searchForm table {
  border-collapse:collapse;
}
form#searchForm td {
  padding:0;
}
#mod_search_searchword {
  padding-left:3px;
}
#area {
  float:left;
  clear:left;
  padding:0;
  overflow:auto;
  margin-left:@asMarginStd;
  width: @areaWidth;
}
#rightcolumn {
  float:right;
  clear:right;
  padding:0;
  overflow:auto;
  margin-right:@asMarginStd;
  width: @rightWidth;
}
div.items-leading  div .videoWrapper,
.videoWrapper {
  position:relative;
  padding-bottom: @asVideoHeight;
  padding-top: @asVideoHeightExtra;
  width:100%;
  height:0;
  object, embed, iframe {
    position:absolute;
    top:0;
    left:0;
    width: 100%;  // breedte video binnen blok, onnodig om aan te passen.
    height:100%;
  }
}


#maincolumn {
  float:right;
  font-size:@asBiggerFontSize;
  line-height:@asBiggerLineHeight;
  margin-left:0;
  margin-right:0;
  width:100%;
  margin-top:@asMarginHalf;
  margin-bottom:@asMarginHalf;
  div.item-page h1, div.item-page h2, div.blog div.items-leading h2, div.blog div.item h2 {
    float:none;
    width:100%;
    margin-right:0;
  }
  div.blog-featured, div.blog, div.newsfeed, div.item-page {
    width:100%;
    position:relative;
    float:left;
  }
  h1 {
    padding:0;
    margin-top:0;
    line-height:@asBiggerFontSize;
    font-size:@asBiggerFontSize;
    font-weight:bold;
    vertical-align:bottom;
    color: @asMainH1Color;
    text-align:left;
  }
  div.blog_inline div.items-leading {
    width:100%;
    div {
      float:none;
      display:inline-block;
    }
  }
  div.contact h2 {
    padding-top:5px;
    padding-left:15px;
  }
}
table.nopad {
  border-collapse:collapse;
  padding:0;
  margin:0;
  td.middle_pad {
    width:20px;
  }
}
div.offline {
  background:#fffebb;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  font-size:1.2em;
  padding:5px;
}
span.pathway {
  display:block;
  margin:0 20px;
  height:16px;
  line-height:16px;
  overflow:hidden;
}
div.componentheading {
  padding-left:0px;
}
h1 {
  padding:0;
  font-family:@sansFontFamily;
  font-size:@asH1FontSize;
  line-height:@asH1FontSize;
  font-weight:bold;
  vertical-align:bottom;
  color:@asH1Color;
  text-align:left;
  width:100%;
}
h2, .contentheading {
  padding:0;
  font-family:@sansFontFamily;
  font-size:@asBiggerFontSize;
  font-weight:normal;
  vertical-align:bottom;
  color:@asMainH1Color;
  text-align:left;
  width:100%;
}
table.contentpaneopen h3 {
  margin-top:25px;
  margin-top:25px;
}
table.contentpaneopen fieldset {
  border:0;
  border-top:1px solid #dddddd;
}
table.contentpaneopen h4 {
  font-family:@sansFontFamily;
  color:@asMainH1Color;
}
h4 {
  font-family:@sansFontFamily;
  color:@asMainH1Color;
}
#maincolumn h2, h3, .componentheading, table.moduletable th {
  margin:0;
  font-weight:bold;
  font-family:@sansFontFamily;
  font-size:@asBigFontSize;
  padding-left:0px;
  margin-bottom:10px;
  text-align:left;
}
legend {
  margin:0;
  margin:0;
  font-weight:bold;
  font-family:@sansFontFamily;
  font-size:@asBiggerFontSize;
  padding-left:0px;
  margin-bottom:10px;
  text-align:left;
  padding:0 10px;
}
.kol1_2 {
  clear:left;
  padding:0;
  margin:0;
  width:49%;
  float:left;
}
.kol2_2 {
  margin:0 0 0 50%;
  padding:0;
  width:49%;
}
.clr {
  clear:both;
  clear:both;
}
.kol1_3 {
  clear:left;
  padding:0;
  margin:0;
  width:32%;
  float:left;
}
.kol23_3 {
  position:relative;
  margin:0 0 0 33.3%;
  padding:0;
  width:64%;
}
.sub1_2 {
  padding:0;
  margin:0;
  width:49%;
  float:left;
}
.sub2_2 {
  margin:0 0 0 50%;
  padding:0;
  width:49%;
}
.label {
  padding:0;
  margin:@asMarginHalf 0 0 0;
  width:@asInputLabelWidth;
  float:left;
}
.inhoud {
  margin:@asMarginHalf 0 0 @asInputMargin;
  padding:0;
  width:@asInputWidth;
}
.contact, .categories-list, .weblink-category, .contact_email {
}
div.contact h3 {
  display:none;
}

ul.actions {
  text-align:right;
  display:block;
  margin:0 0 0 auto;
  position:absolute;
  top:5px;
  left:@asActionsLeft;
  width:@asActionsWidth;
  li {
    display:inline;
  }
}
.small {
  font-size:.90em;
  color:@asMainH1Color;
  font-weight:normal;
  text-align:left;
}
.modifydate {
  height:20px;
  vertical-align:bottom;
  .small
}
.createdate {
  height:20px;
  vertical-align:top;
  padding-bottom:5px;
  padding-top:0px;
  .small
}
a.readon {
  margin-top:10px;
  display:block;
  float:left;
  background:url(../images/mw_readon.png) top right no-repeat;
  padding-right:20px;
  line-height:14px;
  height:16px;
}

.ol-foreground {
  background-color:#f6f6f6;
}
.ol-background {
  background-color:@asH1Color;
}
.ol-textfont {
  font-family:@sansFontFamily;
  font-size:10px;
}
.ol-captionfont {
  font-family:@sansFontFamily;
  font-size:12px;
  color:#f6f6f6;
  font-weight:bold;
  a {
    color:#0b55c4;
    text-decoration:none;
    font-size:12px;
  }
}
.ol-closefont {
}
a.mainlevel:link, a.mainlevel:visited {
  padding-left:5px;
}

span.article_separator {
  display:block;
  height:20px;
}
.article_column {
  padding-right:5px;
}
.column_separator {
  border-left:1px dashed #e0e0e0;
  padding-left:10px;
}
td.buttonheading {
  img {
    border:none;
  }
}
td.greyline {
  width:20px;
  background:url(../images/mw_line_grey.png) 50% 0 repeat-y;
}
#maindivider {
  border-top:1px solid #dddddd;
  margin-bottom:10px;
  overflow:hidden;
  height:1px;
}
table.blog span.article_separator {
  display:block;
  height:20px;
}
.contentpaneopen_edit {
  float:left;
}
table.contenttoc {
  margin:5px;
  border:@asFieldBorder;
  padding:5px;
  td {
    padding:0 5px;
  }
}
td.sectiontableheader {
  background:#efefef;
  color:@asSectionTbHColor;
  font-weight:bold;
  padding:4px;
  border-right:1px solid #ffffff;
}
tr.sectiontableentry0 td, tr.sectiontableentry1 td, tr.sectiontableentry2 td {
  padding:4px;
}
td.sectiontableentry0, td.sectiontableentry1, td.sectiontableentry2 {
  padding:3px;
}
table.contentpaneopen, table.contentpane {
  margin:0;
  padding:0;
  width:auto;
}

#maincolumn div.blog h1, /* titel blog */
#maincolumn div.blog h2, /* sub-titel blog */
div.items-leading, /* hoofd artikelen van voorpagina en blog 1.6 */
div.cols-1 div.item, /* item in 1 koloms-rij */
div.cols-1 + div.items-more /* items-more na 1 koloms rij */
 {
  float:right;
  position:relative;
  margin-right:0px;
//  width: @asBlogLeadingWidth;
  color: @asTextColor;
  margin-top:  @contentPosTop; /* 1.0% */
  width: @contentWidth; /* 70%;  */
}
div.items-leading div {
  position:relative;
}
div.category-desc, /* beschrijving van de categorie komt voor alle items */
div.items-more, /* geeft aan, dat er nog meer items zijn */
div.item /* vervolgartikel blog */
{
  width: @asBlogItemWidth;
  position:relative;
  float:left;
  clear:left;
}
div.blog div.item img {
  width:100%;
}

div.tag-category ul /* tag-list inline maken in plaats van opsomming */
{
    padding-left: 0;
}

div.tag-category ul li /* element  rij in tag-lijst en tag overzicht, tag-list inline maken in plaats van opsomming */
{
    display: inline-block;
    position: static;
    vertical-align: top;
   max-width: @tagListItemWidth;
   margin-right: @marginArea;
   margin-bottom: @marginArea;
}
div.tag-category ul.category.list-striped li /* element rij alleen in tag-lijst, vaste breedte */
{
width: @tagListItemWidth;
}


.tag-category ul li h3 /* item titel boven tag  (none of initial) */
{

display: @tagItemTitleDisplay;

}
.tag-category fieldset
{ /* tot joomla het zoekveld goed verbergt */
display: @tagItemSearchDisplay; 
}





div.item-separator {
  display:none;
}
#maincolumn div.newsfeed li, table.contentpaneopen li {
  margin-bottom:5px;
  padding-left:0;
  list-style:disc;
}
.highlight {
  background-color:#fffebb;
}
table.user1user2 div.moduletable {
  margin-bottom:0px;
}
div.moduletable, div.module {
  margin-bottom:25px;
}
div.moduletable_menu h3, div.module_menu h3 {
  font-family:@sansFontFamily;
  font-size:@asBaseFontSize;
  font-weight:bold;
  color:@asModMenuH1Color;
  margin:-23px -4px 5px -5px;
  padding-left:10px;
  padding-bottom:2px;
}
div.moduletable_menu,
div.module_menu {
  text-align:left;
  margin-top:@asModMenuMarginTop; // $menuMarginTop; 18%
}
div.module_wb, div.module_logo {
  margin:0;
  padding:0;
  margin-bottom:15px;
}
div.module_wb div div div {
  padding:5px 5px 15px 5px;
  width:auto;
}
div.module_logo div div div {
  padding:6px 0 6px 0;
   width:auto;
}
div.module_menu div div div {
  width:auto;
}
div.module_wb div div div div, div.module_logo div div div div, div.module_menu div div div div {
  background:none;
  background:url(../images/transparant.png) 0 0 no-repeat;
  padding:0;
}
div.moduletable_menu ul,
div.module_menu ul,
ul.module_menu {
  background-color:@asModMenuUlBackgroundColor; 
  color: @asModMenuLinkColor; 
  float:left;
  position:relative;
  font-size: @asModMenuUlFontSize;  // 12 px
  font-weight:normal;
  text-decoration: @asModMenuDecoration; 
  line-height: @asModMenuUlLineHeight; // $menuLineHeight; em; 
  padding-left:0;
  margin-left:@asModMenuMarginLeft; // default 0
}

ul.menu_menu li,
ul.menu_menu li ul li,
ul.menu_img li,
ul.menu_img li ul li,
div.module_menu ul li,
div.module_menu ul li ul li,
div.moduletable_menu ul li,
div.moduletable_menu ul li ul li
{
 position:static;
 white-space:nowrap;
 float: @asModMenuFloat;  // left
 display: @asModMenuDisplay;  // inline
  }

div.moduletable_menu ul li a,
div.module_menu ul li a
 {
  display:block;
  margin-left:0;
  background: @asModMenuBackGround;
  padding: @asModMenuPadding;
}


div.moduletable_menu ul li.active a,
div.moduletable_menu ul li ul li.active a:link,
div.moduletable_menu ul li ul li.active a:visited,
div.module_menu ul li.active a,
div.module_menu ul li.active a:link,
div.module_menu ul li.active a:visited
{ /* bovenliggende menuoptie van actieve menu alleen de kleur aanpassen*/
  color: @asModMenuActiveColor; 
}

div.moduletable_menu li.current a,
div.moduletable_menu ul li ul li.current a:link,
div.moduletable_menu ul li ul li.current a:visited,
div.module_menu #current,
div.module_menu ul li.current a,
div.module_menu ul li.current a:link,
div.module_menu ul li.current a:visited {
  color: @asModMenuActiveColor; 
  text-decoration: @asModMenuActiveDecoration; 
  opacity:0.5;
  filter:alpha(opacity=50);
}


div.moduletable_menu ul li:first-child a, div.module_menu ul li:first-child a {
  background-image:none;
  padding-left:0;
}
div.moduletable_menu ul li a,
div.moduletable_menu ul li a:link,
div.moduletable_menu ul li a:visited,
div.module_menu ul li a,
div.module_menu ul li a:link,
div.module_menu ul li a:visited,
div.moduletable_menu ul li ul li a:link,
div.moduletable_menu ul li ul li a:visited,
a.sublevel:link,
a.sublevel:visited, 
div.module_menu ul li ul li a:link,
div.module_menu ul li ul li a:visited
{
color: @asModMenuLinkColor;
text-decoration: @asModMenuDecoration;
}

div.moduletable_menu ul a:hover,
div.module_menu ul li a:hover,
a.sublevel:hover,
div.module_menu ul li ul li a:hover,
div.moduletable_menu ul li.parent ul li a:hover
{
  color:@asModMenuLinkColorHover;
  text-decoration:@asModMenuLinkDecorationHover;
}
span.listitem {
  display:list-item;
  font-size:12px;
  list-style:disc;
}
div.moduletable_menu ul li ul, div.module_menu ul li ul {
  font-size:12px;
  font-weight:normal;
  position:absolute;
  left:0;
  bottom:-1.3em;
  z-index:2;
}

div.moduletable_menu ul li ul li a:link, div.moduletable_menu ul li ul li a:visited, a.sublevel:link, a.sublevel:visited, div.module_menu ul li ul li a:link, div.module_menu ul li ul li a:visited {
  color:@asModMenuLinkColor;
}

.mod-languages {
    float: @asModLangFloat;
}

/* ===================================================================================
	BOOTSTRAP MEDIA QUERIES OVERRIDES
	NOTE: The order of the media queries is important when styles overwrite each other
	================================================================================== 
@media (min-width: 980px) {}
@media (min-width: 1200px) {}
@media (max-width: 979px) {}
@media (min-width: 768px) and (max-width: 979px) {}
@media (max-width: 767px) {}
@media (max-width: 480px) {}

*/

/* begin @media @screen-xs-max (voor grotere browserbreedte dan @breakpointXLmin en kleinere dan  @screen-xs-max */
@media (min-width: @breakpointXLmin) {

}

@media (max-width: @screen-xs-max )  { 
#icons
{   /* icons fb etc meer naar links en breder  */ 
left: @iconsMobileLeft;
width: @iconsMobileWidth;
}

div.tag-category ul li /* element  rij in tag-lijst en tag overzicht, tag-list inline maken in plaats van opsomming */
{
    display: inline-block;
    position: static;
    vertical-align: top;
   max-width: 100%;
   width: @asMinWidthItem;
   margin-right: @marginArea;
   margin-bottom: @marginArea;
}
div.tag-category ul.category.list-striped li /* element rij alleen in tag-lijst, vaste breedte */
{
width: @tagListItemWidth;
max-width: 100%;
width: @asMinWidthItem;
}

#maincolumn div.blog h1, #maincolumn div.blog h2, div.items-leading, div.cols-1 div.item, div.cols-1 + div.items-more {
div {
//   max-width: 100%;
//   min-width: @asMinWidthItem;
   }
}
div.category-desc, /* beschrijving van de categorie komt voor alle items */
div.items-more, /* geeft aan, dat er nog meer items zijn */
div.item /* vervolgartikel blog */
{
//   max-width: 100%;
//   min-width: @asMinWidthItem;
}

 }
/* einde @media  @screen-xs-max */




#leftcolumn div.module {
  padding:0 10px;
  table {
    width:auto;
  }
}
table.adminform textarea {
  width:540px;
  height:400px;
  font-size:1em;
  color:#000099;
}
div.search input {
  width:145px;
  border:@asFieldBorder;
  margin:15px 0 10px 0;
}
form#login-form fieldset, form#form-login fieldset {
  border:0 none;
  margin:0em;
  padding:0.2em;
}
form#login-form ul, form#form-login ul {
  padding-left:20px;
}
form#com-form-login fieldset {
  border:0 none;
  margin:0em;
  padding:0.2em;
}
form#com-form-login ul {
  padding-left:20px;
}
#form-login {
  #form-login-username label, #form-login-password label {
    display:block;
  }
}

div.caption {
  padding:0 10px 0 10px;
  img {
    border:@asFieldBorder;
  }
  p {
    font-size:.90em;
    color:@asH1Color;
    text-align:center;
  }
}
table.paramlist {
  margin-top:5px;
  td.paramlist_key {
    width:128px;
    text-align:left;
    height:30px;
  }
  td.paramlist_value {
  }
}
div.message {
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight:bold;
  font-size:14px;
  color:#cc3300;
  text-align:center;
  width:auto;
  background-color:#f9f9f9;
  border:solid 1px #d5d5d5;
  margin:3px 0px 10px;
  padding:3px 20px;
}
.bannergroup {
}
.banneritem img {
  margin-left:auto;
  margin-right:auto;
}
.banneritem_text {
  padding:4px;
  font-size:11px;
}
.banneritem_menu {
  overflow:hidden;
}
.bannerfooter_text {
  padding:4px;
  font-size:11px;
  background-color:#f7f7f7;
  text-align:right;
}
.pagination {
  clear:both;
  span {
    padding:2px;
  }
  a {
    padding:2px;
  }
}
.pollstableborder td {
  text-align:left;
}
span.description {
  display:block;
  padding-left:30px;
}
fieldset {
  border:@asFieldBorder;
  margin-top:15px;
  padding:15px;
}
td.key {
  border-bottom:1px solid @asModMenuH1Color;
  color:@asH1Color;
}

.tool-title {
  padding:0;
  margin:0;
  font-size:100%;
  font-weight:bold;
  margin-top:-15px;
  padding-top:15px;
  padding-bottom:5px;
  background:url(../../system/images/selector-arrow.png) no-repeat;
}

#system-message {
  margin-bottom:20px;
  dd.message ul {
    background:#c3d2e5 url(../../system/images/notice-info.png) 4px center no-repeat;
  }
  dd.error ul {
    color:#cc0000;
    background:#e6c0c0 url(../../system/images/notice-alert.png) 4px center no-repeat;
    border-top:3px solid #de7a7b;
    border-bottom:3px solid #de7a7b;
    margin:0px;
    padding-left:40px;
    text-indent:0px;
  }
  dd.notice ul {
    color:#cc0000;
    background:#efe7b8 url(../../system/images/notice-note.png) 4px center no-repeat;
    border-top:3px solid #f0dc7e;
    border-bottom:3px solid #f0dc7e;
    margin:0px;
    padding-left:40px;
    text-indent:0px;
  }
}
#syndicate {
  float:left;
  padding-left:25px;
}
#power_by {
  float:right;
  padding-right:25px;
}
#component-contact table td {
  padding:2px 0;
}

// .tags.inline { display: none;}



